.projects{
     background: linear-gradient(rgba(30,0,50,0.58), rgba(30,0,50,0.5)), url('https://wallpaperaccess.com/full/322837.jpg');
     color: #e1c3f5;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 3fr 3fr;
     text-align: center;

}

#h1 {
     grid-column-end: span 2;
     text-align: center;
     font-size: 35px;
     margin-top: 2%;
}

.card1 {
     box-shadow: 0 4px 8px 0 rgba(125, 22, 22, 0.5);
     transition: 1s;

     a:link {
          color: #d9acf6;
     }

     a:visited {
          color: #d9acf6;
     }

     a:hover {
          color:antiquewhite;
     }
}

.card1:hover {
     box-shadow: 0 10px 18px 0 rgba(121, 15, 15, 0.8)
}

.card1-container {
     padding: 2% 2% 2% 2%;

}

.card2 {
     box-shadow: 0 4px 8px 0 rgba(125, 22, 22, 0.5);
     transition: 1s;

     a:link {
          color: #d9acf6;
     }

     a:visited {
          color: #d9acf6;
     }

     a:hover {
          color:antiquewhite;
     }
}

.card2:hover {
     box-shadow: 0 10px 18px 0 rgba(121, 15, 15, 0.8)
}

.card2-container {
     padding: 2% 2% 2% 2%;
}

.card3 {
     box-shadow: 0 4px 8px 0 rgba(125, 22, 22, 0.5);
     transition: 1s;

     a:link {
          color: #d9acf6;
     }

     a:visited {
          color: #d9acf6;
     }

     a:hover {
          color:antiquewhite;
     }
}

.card3:hover {
     box-shadow: 0 10px 18px 0 rgba(121, 15, 15, 0.8)
}

.card3-container {
     padding: 2% 2% 2% 2%;
}

.card4 {
     box-shadow: 0 4px 8px 0 rgba(125, 22, 22, 0.5);
     transition: 1s;

     a:link {
          color: #d9acf6;
     }

     a:visited {
          color: #d9acf6;
     }

     a:hover {
          color:antiquewhite;
     }
}

.card4:hover {
     box-shadow: 0 10px 18px 0 rgba(121, 15, 15, 0.8)
}

.card4-container {
     padding: 2% 2% 2% 2%;
}