body, html { 
     overflow-x: hidden; 
     overflow-y: hidden;
 }

.about{

     width: 100vw;
     height: 100vh;
     background-repeat: no-repeat;
     background-position: center center;

     display: grid;
     grid-template-rows: 5% 10% 45% 35% 5%;

     background-color: #01150D;
     background-image: linear-gradient(rgba(0, 40, 84, 0.52), rgba(1, 22, 69, 0.58)), url('https://wallpaperaccess.com/full/322837.jpg');
     color: antiquewhite;

}

#header {
     grid-row: 2;
     font-size: 5vh;
     place-self: center;
}

#photo {
     grid-row: 3;
     background: url("../images/aboutme-photo.jpeg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}

#text{
     grid-row: 4;
     place-self: center;
     padding-left: 8.5%;
     padding-right: 8.5%;
     font-size: 2.25vh;
}
