.topbar{
     width: 100%;
     height: 5vh;
     background-color: #390918;
     color: lightpink;
     position: fixed;
     top: 0;
     z-index: 2;


     #home {
          background-color: #390918;
          color: lightpink;
     }
     
     #projects {
          background-color: #170226;
          color: #ffb9ea;
     }
     
     #techstack {
          background-color: #0a0217;
          color: #e1c3f5;
     }
     
     #about {
          background-color: #022335;
          color: antiquewhite;
     }

}

.wrapper{
     height: 5vh;
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     justify-content: space-evenly;

          a:hover {
               color:antiquewhite;
               transition: ease-in-out 1s;
          }   
}

.homelink  {
     font-size: 2.5vh;
     text-decoration: underline;
}

.portfoliolink  {
     font-size: 2.5vh;
     text-decoration: underline;
}

.techstacklink {
     font-size: 2.5vh;
     text-decoration: underline;
}

.aboutlink {
     font-size: 2.5vh;
     text-decoration: underline;
}