.contact{
     background: linear-gradient(rgba(0,0,90,0.5), rgba(0,0,90,0.58)), url('https://wallpaperaccess.com/full/322837.jpg');
     color: #e1c3f5;
     text-align: center;
     margin: auto;
     font-size: 30px;
}