body, html { 
     overflow-x: hidden; 
     overflow-y: hidden;
 }

.contact{
     width: 100vw;
     height: 100vh;
     background: linear-gradient(rgba(0, 60, 104, 0.42), rgba(1, 37, 91, 0.48)), url('https://wallpaperaccess.com/full/322837.jpg');
     background-color: #01150D;
     background-repeat: no-repeat;
     background-position: center center;

     color: #f8ffe9;
     text-align: center;
     margin: auto;
}

#text{
     padding-left: 10%;
     padding-right: 10%;
     font-size: 2.25vh;
}
