body, html { 
     overflow-x: hidden; 
     overflow-y: hidden;
 }

.home{
     width: 100vw;
     height: 100vh;
     background-color: #390918;
     background-image: linear-gradient(52deg,rgba(50,0,30,0.58), rgba(70,0,50,0.5)), url('https://wallpaperaccess.com/full/322837.jpg');
     background-repeat: no-repeat;
     background-position: center center;
     color: lightpink;

}

* {
     text-align: center;
}


#name {

     font-size: 5vh;
     margin-top: 5vh;

}

#selfphoto{


     padding-top: 1%;
     margin: auto;
     justify-items: center;
     align-items: center;
     border-radius: 8px;

}
     

#description {

     z-index: 99;
     font-size: 3vh;
     padding-top: 2.5%;

}

#contact {

     z-index: 999;
     text-align: center;
     font-size: 2.5vh;
     padding-bottom: 2.5%;
     
     a:link {
          color: #eab2bc;
     }

     a:visited {
          color: #eab2bc;
     }

     a:hover {
          color:antiquewhite;
     }

}


#overlay{

     background-image: url('/images/flowerbackground.jpeg');
     background-repeat: no-repeat;
     background-position: center center;
     position: absolute;
     height: 95vh;
     width: 100vw;
     z-index: 1;
     background-color: black;
     animation-name: fadeIn;
     animation-duration: 2s;
     animation-timing-function: ease-in;
     animation-fill-mode: forwards;

 }

 @keyframes fadeIn {

     from{
         opacity: 1;
         z-index: 999;
     }
     to{
         opacity: 0;
         z-index: -1;
     }

}


