.bottombar {
     width: 100%;
     height: 5vh;
     background-color: #390918;
     color: lightpink;
     position: fixed;
     bottom: 0;

     span {
          padding: 1.5vh;
          display: grid;
     }
     
}